html {
  font-family: 'SmartisanHei', -apple-system, BlinkMacSystemFont, sans-serif;
}

@font-face{
  font-family:'SmartisanHei';
  src: url("//ffxiv-res.diemoe.net/SmartisanHei.woff2") format("woff2"),
       url("//ffxiv-res.diemoe.net/SmartisanHei.ttf");
  font-weight: normal;
  font-style: normal;
}
