html {
  font-family: 'SmartisanHei', -apple-system, BlinkMacSystemFont, sans-serif;
}

@font-face{
  font-family:'SmartisanHei';
  src:url(../../common/SmartisanHei.ttf);
  font-weight: normal;
  font-style: normal;
}
